.register {
    width: 100vw;
    height: 100vh;
    background: url("img/netflix-background.jpg");

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
            }
        }
    }
}