.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &.scrolled {
        background-color: var(--main-color);
        transition: 0.3s;
    }

    .container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .left {
            display: flex;
            align-items: center;

            img {
                height: 25px;
                margin-right: 40px;
            }

            span {
                margin-right: 20px;
                cursor: pointer;
            }
        }

        .right {
            display: flex;
            align-items: center;

            .icon {
                margin: 0px 15px;
                cursor: pointer;
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }

            .moviefilter {
                .options {
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                }
            }

            .profile {
                .options {
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                }

                span {
                    color: rgba(255, 255, 255, 0.75);
                    padding: 10px;
                    cursor: pointer;
                }

                span:hover {
                    color: rgba(255, 255, 255, 1);
                    transition: 0.3s;
                }

                &:hover {
                    .options {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                }
            }
        }
    }
}